body{
    background-image:url("../Images/back.png")
}
.text-right img{
        height: 90px;
        width: 100px;
        border-width: 0px;
        position: absolute;
        right: 5px;
        border-radius: 5px;
}
.logo{
    height: 100px;
    float: right;
}
.login{
    background: white;
    width: 50%;
    margin-top: 150px;
    margin-left: 450px;
    margin-bottom: 150px;
    margin-right: 390px;
    border-radius: 5%;
}
.col1 h5{
    padding-top: 2em;
    text-align: center;
}
.col1 h4{
    text-align: center;
    padding-bottom: 2em;
}
.col2 input{
    background: aliceblue;
    border:0;
    width:70%;
    height:40px;
   
}
.submit{
    width:70%;
    padding: 5em 3em;
}
.col2 button{
    width: 100px;
    text-align: center;
    button-radius: 5%;
    margin:2em;
}