<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bees ERP Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="CSS/kushi2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row bg mb-2">
            <div class="col-md-8 sk">
                <img src="Images/clglogo.jpg" width="50px"> 
                <b>NARSIMHA REDDY ENGINEERING COLLEGE</b>
            </div>
            <div class="col-md-4 sk_10">
                <button>Welcome Mudavath Santhosh ( 21X01A05G9 )</button>
                <button><i class="fa-solid fa-circle-info fa-flip fa-2x" style="width:35px; height:35px; border-radius: 8%;"></i></button>
                <button><i class="fa-regular fa-circle-user fa-beat-fade fa-2x" style="width: 35px; height:35px; border-radius: 8%;"></i></button>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 ks">
                <marquee behaviour="" direction-="" >Welcome to Bees ERP : Click on any of the Modules to start with your ERP Solutions</marquee>
            </div>
        </div>
        <div class="row menu mb-4">
            <div class="col-md-1 ks_13">
                <div class="dropdown">
                    <a class="btn dropdown-roggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" ><i class="fa-solid fa-house-laptop"></i>@Office <i class="fa-solid fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">My Information</a></li>
                        <li><a class="dropdown-item" href="#">My Information-Editing</a></li>
                        <li><a class="dropdown-item" href="#">My Fee Card</a></li>
                        <li><a class="dropdown-item" href="#">My Print Challan</a></li>
                        <li><a class="dropdown-item" href="#">My College-Online Fee Payment</a></li>
                        <li><a class="dropdown-item" href="#">My College Fee Receipt Generation</a></li>
                        <li><a class="dropdown-item" href="#">My Apply Certificates</a></li>
                        <li><a class="dropdown-item" href="#">My Contact Your Office</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 ks_10" style="display:flex;">
                <button><i class="fa-solid fa-graduation-cap"></i>Acadamics</button>
            </div>

            <div class="col-md-2 ks_11" style="display:flex;">
                <button><i class="fa-solid fa-file-lines" style="margin:7px;"></i>Examination Cell</button>
            </div>

            <div class="col-md-1 ks_10" style="display:flex;">
                <button><i class="fa-solid fa-file" style="margin:7px;"></i>Library</button>
            </div>

            <div class="col-md-2 ks_11" style="display:flex;">
                <button> <i class="fa-solid fa-user-group" style="margin:8px;"></i>Placements</button>
            </div>

            <div class="col-md-1 ks_10" style="display:flex;">
                <button><i class="fa-solid fa-wrench"></i>Utilities</button>
            </div>

            <div class="col-md-4 ks_12" style="display:flex;">
                <button></button>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-12 sk_11">
                <b>Dear Student, After payment of fee, please download Fee Receipt Mandatorily. If receipt is not generated, contact the Accounts Department / <br>Exam Branch during college working hours.</b>
            </div>
        </div>
        <div class="row mb-1">
            <div  class="col-md-12 sk_12">
                <span>Your Latest Attendance is :</span>
                <b>82.62 %</b>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 sk_13">
                <b>( Your Attendance is Good )</b>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 sk_14">
                <a>Click Here to Pay College/Transport/Hostel Fees Online</a>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-12 sk_15">
                <a>Click Here to Pay Condonation Fees Online</a>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-12 sk_16">
                <b>Click Here To Pay Regular Exam Fees Online</b>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-12 sk_17">
                <a>Click Here to Pay Supply Exam Fees Online</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 sk_18">
                <a>Click Here to Pay Revaluation Exam Fees Online</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 sk_19">
                <a>Click Here to Go for Regular/Supply Fee Receipts</a>
            </div>
        </div>
        <div class="row K">
            <div class="col-md-2 sk_20">
                <button><b>ToDay's Time Table</b></button>
            </div>
        </div>
    </div>
</body>
</html>